.locations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .locations__title {
      text-align: center;
  }
  
  .location {
      flex-basis: 45%;
      margin: 1em;
      padding: 1em;
      border: 1px solid goldenrod;
  }