.customers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .customer {
      flex-basis: 20%;
      margin: 1em;
      padding: 1em;
      border: 1px solid goldenrod;
  }

  .customers__title {
      margin-top: 2rem;
      text-align: center;
  }