.employees {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .employee {
      flex-basis: 20%;
      margin: 1em;
      padding: 1em;
      border: 1px solid goldenrod;
      text-align: left;
  }

  .employees__title {
      margin-top: 2rem;
      text-align: center;
  }

  .employee_flex {
      display: flex;
      justify-content: center;
  }

  .add__button {
      margin-bottom: 2rem;
  }